body {
background: orange;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: white;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: green;
}
.assign img {
width: 200px;
padding: 10px;
}
a {
    text-decoration: none; /* remove underlining on anchor tags */
    color: crimson; /* pick the color you want */
   }
   .assign img {
    padding: 10px; /* change this from margin to padding */
    border: 2px dashed pink; /* try dashed, dotted */
   }
   .assign {
    width: 20%;
    box-shadow: 8px 8px [purple];
    display: block; /* instead of flex */
    border-radius: 20px; /* set last assignment */
    }
    body {
        display: flex;
        flex-wrap: wrap;
        }
        h1 {
        width: 100%;
        display: block;
        }
