body {
background: [Purple];
font-family: Arial;
}
h1 {
color: [Red];
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: [Green];
}
.assign img {
width: 200px;
padding: 10px;
}
